<template>
<div class="row justify-content-center">
    <div class="col-md-8">
    <div class="card" >
        <div class="card-header">Login</div>
        
        <div class="card-body">
            <form id="login" @submit.prevent="startSession">
                <div class="alert alert-danger" role="alert" v-if="message"> 
                {{ message }} 
                </div>
                <div class="form-group">
                <input type="text"  v-model="email" class="form-control" id="email" >
                </div>
                <div class="form-group">
                <input type="password" v-model="password" class="form-control" id="password" >
                </div>
                <button type="submit"  class="btn btn-primary" >Login</button>
            </form>
        </div>
    </div>
    </div>
</div>
</template>

<script>
export default {
    data (){ 
        return {
            email: '',
            password: '',
            message: false,
            csrf: ''
        }
    },
    mounted() {
        this.csrf = document.querySelector('meta[name="csrf-token"]').content;
    },
    methods: {
        startSession(){
            //Iniciar sessió
            
            axios.post('/login',  { email: this.email , password: this.password })
            .then( response => { 
            localStorage.setItem('user_token', this.csrf)
                console.log(response);
                location.replace('/dashboard');
            })
            .catch( error => {
                let er = error.response.data.errors;
                this.message = "Un altre error";
                if(er.hasOwnProperty('email')){
                    this.message = er.email[0];
                }else if(er.hasOwnProperty('password')){
                    this.message = er.password[0];
                }else if(er.hasOwnProperty('login')){
                     this.message = er.login[0];
                }
                return this.message;
            });
        },

    }
}
</script>