<template>
<div class="row justify-content-center">
    <div class="col-md-8">
    <div class="card">
    <div class="card-header">Registrar</div>
    <div class="card-body">
        <form id="login" @submit.prevent="registrar">
            <div class="alert alert-danger" role="alert" v-if="message"> 
            {{ message }} 
            </div>
            <div class="form-group">
            <input type="text"  v-model="name" class="form-control" id="name" placeholder="Nom complet">
            </div>
            <div class="form-group">
            <input type="text"  v-model="email" class="form-control" id="email" placeholder="Correu">
            </div>
            <div class="form-group">
            <input type="password" v-model="password" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="form-group">
            <input type="password" v-model="password_confirmation" class="form-control" id="password_confirmation" placeholder="Repeteix Password">
            </div>
            <button type="submit" class="btn btn-primary" >Registrar</button>
        </form>
    </div>
    </div>
    </div>
</div>
</template>
<script>
export default {
    data(){ 
        return {
            name: '',
            email: '',
            password: '',
            password_confirmation: '',
            message: false,
        }
    },
    methods: {
        registrar(){
            //Registrar
            axios.post('/registre',  {
                name: this.name,
                email: this.email,
                password: this.password,
                password_confirmation: this.password_confirmation  
            })
            .then( response => {
                console.log(response);
                location.replace('/home');
            })
            .catch( error => {
                let er = error.response.data.errors;
                this.message = "Un altre error";
                if(er.hasOwnProperty('name')){
                    this.message = er.name[0];
                }else if(er.hasOwnProperty('email')){
                    this.message = er.email[0];
                }else if(er.hasOwnProperty('password')){
                    this.message = er.password[0];
                }
                return this.er;
            });
        },
    }
}
</script>