<template>
    <div>
        <li class="nav-item"><a class="nav-link" href="#" @click="destroy">Tancar sessió</a></li>
    </div>
</template>
<script>
export default {
    date () {
        return [
            {logout: null}
        ]
    },
    methods: {
        destroy(){
            axios.post('logout', this.logout)
            .then( response => {
                localStorage.removeItem('user_token');
                location.replace('/login');
            });
        }
    }
}
</script>