<template>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><router-link class="nav-link"  :to="{ name: 'login'}">Inicar Sessió</router-link></li>
        <li class="nav-item"><router-link class="nav-link"  :to="{ name: 'registrar'}">Registrar usuari</router-link></li>
       
    </ul>
</template>